body {
  background: #FFFDFB;
  width: 80%;
  padding-left: 10%
}

h1 {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-weight: 900; 
}

#sticky {
  width: 100%;
  height: 25px;
  background-color: #FFFDFB
}

#tags {
  margin-top: 2%;
  text-align: left;
  font-family: 'Josefin Slab', serif;
  font-size: 1.5em;
  font-weight: 700;
  color: black;
}

#resume, #philosophy, #projects, #contact{
  display: inline-block;  
  margin-left: 10%;
}

#philosec, #projsec, #contactsec {
  border: 5px solid black;
  padding: 20px;
  margin-top: 50%;
  background-image: url('skin_side_up.png');
  /*margin-left: 10%;*/
  font-family: 'Josefin Slab', serif;
  font-size: 1.5em;
  font-weight: 700;
  color: black;
}

#resumesec {
  border: 5px solid black;
  background-image: url('skin_side_up.png');
  margin-top: 50%;
}

#resumepic {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  margin-top: 10%;
  display: block
}


//**//**//**//**//**//**//**//**//**//**//**//**//**/

#instafeed {
  position: absolute;
  top: 0;
  height: 100%;
  width: 150px;
  z-index: 10;
  opacity: 1;
}

#instafeed a {
  position: relative;
  display: inline-block;
  border: 1px solid black;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited{
  color: black;
  text-decoration: none;
}
a#resume:hover{
  color: black;
  text-decoration: none;
  text-shadow: 0 0 6px gray;
}
a#philosophy:hover{
  color: black;
  text-decoration: none;
  text-shadow: 0 0 6px gray;
}
a#projects:hover{
  color: black;
  text-decoration: none;
  text-shadow: 0 0 6px gray;
}
a#contact:hover{
  color: black;
  text-decoration: none;
  text-shadow: 0 0 6px gray;
}
a:active{
  color: black;
  text-decoration: none;
}
